@font-face {
    font-family: 'BankGothic';
    src: url('/BankGothic/BankGothicBold.eot');
    src: url('/BankGothic/BankGothicBold.eot?#iefix') format('embedded-opentype'),
    url('/BankGothic/BankGothicBold.woff2') format('woff2'),
    url('/BankGothic/BankGothicBold.woff') format('woff'),
    url('/BankGothic/BankGothic/BankGothicBold.ttf') format('truetype'),
    url('/BankGothic/BankGothicBold.svg#BankGothicBold') format('svg');
    font-weight: bold;
    font-style: normal;
}
nav.navbar {
    border-bottom: 2px solid #337ab7;
}
div#footer-text {
    background-color: #337ab7;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
}
.imgexpandup img {
    padding-top: 50px;
    width: 599px;
    height: 369px;
}
.main-content {
    text-align: center;
}

div#header {
    top: 0px;
    left: 0px;
    height: auto;
    color: white;
    background-image: url(/images/header-bg.png);
    background-repeat: no-repeat;
    MAX-WIDTH: 1500PX;
}
.big-text-name h1 {
    text-align: center;
    padding-bottom: 25px;
    font-size: 40px;
    text-align: center;
    font-family: 'BankGothic', sans-serif;
    color: #e3e3e3;
}

.imgexpandup{
    animation-name: expandUp;
    -webkit-animation-name: expandUp;

    animation-duration: 0.7s;
    -webkit-animation-duration: 0.7s;

    animation-timing-function: ease;
    -webkit-animation-timing-function: ease;

    visibility: visible !important;
}
@keyframes expandUp {
    0% {
        transform: translateY(100%) scale(0.6) scaleY(0.5);
    }
    60%{
        transform: translateY(-7%) scaleY(1.12);
    }
    75%{
        transform: translateY(3%);
    }
    100% {
        transform: translateY(0%) scale(1) scaleY(1);
    }
}

@-webkit-keyframes expandUp {
    0% {
        -webkit-transform: translateY(100%) scale(0.6) scaleY(0.5);
    }
    60%{
        -webkit-transform: translateY(-7%) scaleY(1.12);
    }
    75%{
        -webkit-transform: translateY(3%);
    }
    100% {
        -webkit-transform: translateY(0%) scale(1) scaleY(1);
    }
}

/*CSS for Footer*/
.site-footer-top {
    background-color: #1b6d85;
    padding: 30px 100px;
}
.footer-img, .contact-wrapper {
    display: inline-block;
}
sup {
    font-size:10px;
    vertical-align:top;
}
.site-footer-bottom {
    color: white;
    background-color: #000000;
    text-align:center;
}
.contact-wrapper {
    float: right;
    padding-right:300px;
}
.contact-footer {
    color: white;
    float: right;
    padding-right: 250px;
}
.contact-footer ul li {
    list-style-type: none;
}
span#contact-us {
    color: white;
}
h5{
    margin:0;
}
.footer-logo-pulse{
    animation-name: pulse;
    -webkit-animation-name: pulse;

    animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;

    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.9);
        opacity: 0.7;
    }
    50% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0.9);
        opacity: 0.7;
    }
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(0.95);
        opacity: 0.7;
    }
    50% {
        -webkit-transform: scale(1);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(0.95);
        opacity: 0.7;
    }
}
