<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>

    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <script src = "/js/jquery.js" type = "text/javascript"></script>
    <script src = "/js/bootstrap.js" type = "text/javascript"></script>
    <script src = "/fonts/glyphicons-halflings-regular.ttf" type = "text/javascript"></script>

</head>
<body>
<div class="container-fluid" id = "header">
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">E-Store</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a th:href="@{/register}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a th:href="@{/login}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </nav>

    <div class = "container-fluid">
        <div class = "main-content">
            <div class = "imgexpandup">
                <img src = "/images/logo2.png">
            </div>
            <div class="big-text-name">
                <h1> J&J'S ORIGINAL<br>
                    VAPE SHOP </h1>
            </div>
        </div>

    </div>

</div>

<div class="site-footer-top">
    <div class="footer-img">
        <div class="footer-logo-pulse">
            <img src="/images/logo1.png"></div>
    </div>
    <div class="contact-footer">
        <ul>
            <li> <span> Contact Us </span></li>
            <li>373-00-00</li>
            <li>1235 Lorem Ipsum Dolor Sit mat</li>
            <li>info@jj.com</li>
        </ul>
    </div>
</div>
</body>
</html>